$primary-100: #D9E3FE;
$primary-200: #B4C6FD;
$primary-300: #8EA6FA;
$primary-400: #718CF6;
$primary: #4463F0;
$primary-600: #314BCE;
$success: #2AB532;
$warning: #F5A623;
$error: #EB4165;
$white: #ffffff;
$grey-200: #F7F8FA;
$grey-300: #E9EFF5;
$grey: #ADB9CA;
$grey-500: #566073;
$grey-600: #222C4F;