@mixin only-width ($width) {
  min-width: $width;
  max-width: $width;
  width: $width;
}

@mixin only-height ($height) {
  min-height: $height;
  max-height: $height;
  height: $height;
}

@mixin empty-button () {
  border: 0;
  outline: none;
  background: transparent;
  margin: 0;
  padding: 0;
  cursor: pointer;
}