.cards {
  @media (max-width: 575px) {
    padding-left: 20px;
    padding-right: 20px;
  }
  &-title {
    font-style: normal;
    font-weight: 600;
    font-size: 26px;
    line-height: 40px;
    display: flex;
    align-items: flex-start;
    font-feature-settings: 'pnum' on, 'lnum' on;
    color: $grey-600;
    width: 100%;
    @media (max-width: 575px) {
      font-size: 24px;
      line-height: 30px;
    }
  }
  &--index {
    margin-top: 24px;
    .cards-body {
      display: flex;
      align-items: flex-start;
      justify-content: space-between;
      flex-wrap: wrap;
      margin: 24px 0;
      .card {
        height: auto;
        @media (min-width: 1200px) {
          &:not(:nth-child(4n)) {
            flex-basis: calc(100% / 4 - 48px - 20px);
          }
          &:nth-child(4n) {
            flex-basis: calc(100% / 4 - 48px);
          }
        }
        @media (max-width: 1199px) and (min-width: 992px) {
          &:not(:nth-child(4n)) {
            flex-basis: calc(100% / 4 - 32px - 16px);
          }
          &:nth-child(4n) {
            flex-basis: calc(100% / 4 - 32px);
          }
        }
        @media (max-width: 991px) and (min-width: 768px) {
          &:not(:nth-child(3n)) {
            flex-basis: calc(100% / 3 - 32px - 16px);
          }
          &:nth-child(3n) {
            flex-basis: calc(100% / 3 - 32px);
          }
        }
        @media (max-width: 767px) and (min-width: 576px) {
          &:not(:nth-child(2n)) {
            flex-basis: calc(100% / 2 - 32px - 16px);
          }
          &:nth-child(2n) {
            flex-basis: calc(100% / 2 - 32px);
          }
        }
        @media (max-width: 575px) {
          flex-basis: 100%;
        }
        ///
        @media (min-width: 992px) {
          &:not(:nth-last-child(1)):not(:nth-last-child(2)):not(:nth-last-child(3)):not(:nth-last-child(4)) {
            margin-bottom: 12px;
          }
        }
        @media (max-width: 991px) and (min-width: 768px) {
          &:not(:nth-last-child(1)):not(:nth-last-child(2)):not(:nth-last-child(3)) {
            margin-bottom: 12px;
          }
        }
        @media (max-width: 767px) and (min-width: 576px) {
          &:not(:nth-last-child(1)):not(:nth-last-child(2)) {
            margin-bottom: 12px;
          }
        }
        @media (max-width: 575px) {
          &:not(:last-child) {
            margin-bottom: 12px;
          }
        }
      }
    }
  }
}

.card {
  background: $white;
  border-radius: 4px;
  padding: 24px;
  display: block;
  @media (max-width: 1199px) {
    padding: 16px;
  }
  &-title {
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    font-feature-settings: 'pnum' on, 'lnum' on;
    color: $grey-600;
    margin-bottom: 8px;
    width: 100%;
    word-break: break-word;
  }
  &-text {
    @include only-height(100px);
    overflow-y: auto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    font-feature-settings: 'pnum' on, 'lnum' on;
    width: 100%;
    word-break: break-word;
    color: $grey-600;
    @media (max-width: 1199px) {
      line-height: 140%;
    }
    &--form {
      @include only-height(100%);
      a {
        color: $primary;
      }
    }
  }
  &-quantity {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    font-feature-settings: 'pnum' on, 'lnum' on;
    color: $grey-500;
    margin-top: 8px;
  }
  &-price {
    display: flex;
    align-items: center;
    margin-top: 16px;
    &__inner {
      font-style: normal;
      font-weight: 600;
      font-size: 16px;
      line-height: 20px;
      display: block;
      color: $grey-600;
      font-feature-settings: 'pnum' on, 'lnum' on;
      &--primary {
        color: $primary;
      }
    }
    &__sale {
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 20px;
      display: block;
      text-decoration-line: line-through;
      font-feature-settings: 'pnum' on, 'lnum' on;
      color: $grey-500;
      margin-left: 8px;
    }
  }
  &-author {
    margin-top: 8px;
    display: flex;
    align-items: center;
    &__inner {
      margin-left: 8px;
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 20px;
      font-feature-settings: 'pnum' on, 'lnum' on;
      color: $grey-500;
      &--success {
        font-weight: 500;
        color: $success;
      }
    }
  }
  &-rating {
    display: flex;
    align-items: center;
    .v-icon {
      width: 16px;
      height: 16px;
      &:not(:last-child) {
        margin-right: 4px;
      }
      svg {
        display: block;
        width: 16px;
        height: 16px;
      }
    }
  }
  &-link {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    text-align: left;
    font-feature-settings: 'pnum' on, 'lnum' on;
    color: $primary;
    display: block;
  }
  &--login {
    max-width: 392px;
    margin: 48px auto 155px;
    padding: 32px 31px;

    @media (max-width: 575px) {
      margin-left: 20px;
      margin-right: 20px;
    }

    .card-title {
      font-style: normal;
      font-weight: 600;
      font-size: 18px;
      line-height: 24px;
      font-feature-settings: 'pnum' on, 'lnum' on;
      color: $grey-600;
      margin-bottom: 24px;
    }

    .el-button {
      display: block;
      width: 100%;
    }

    .el-input-group {
      .el-input__inner {
        padding-right: 36px + 12px;
      }
    }
  }
  &--money {
    .card-text {
      @include only-height(88px);
    }
  }
  &-login {
    &-actions {
      display: flex;
      align-items: center;
      span, a {
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 20px;
        display: block;
        font-feature-settings: 'pnum' on, 'lnum' on;
        color: $grey-600;
      }
      a {
        margin-left: 4px;
        color: $primary;
      }
      @media (max-width: 575px) {
        flex-direction: column;
        a {
          margin-left: 0;
          margin-top: 4px;
        }
      }
    }
    &-socials {
      &__header {
        text-align: center;
        margin-bottom: 16px;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 20px;
        font-feature-settings: 'pnum' on, 'lnum' on;
        color: $grey-500;
      }
      &__inner {
        display: flex;
        align-items: center;
        justify-content: space-between;
        .el-button {
          &+.el-button {
            margin-left: 16px;
          }
          padding: 10px 18px;
          height: auto;
          span {
            display: flex;
            align-items: center;
            justify-content: center;
            span.v-icon {
              width: 20px;
              height: 20px;
              display: block;
              svg {
                width: 20px;
                height: 20px;
                display: block;
              }
            }
          }
        }
      }
    }
  }
  &-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &--catalog {
    background: $grey-200;
    transition: background 350ms;
    border-radius: 0;
    &:hover {
      background: $grey-300;
    }
    &-top {
      margin-top: 32px;
      .card-title {
        font-size: 20px;
        line-height: 32px;
      }
      .card-link {
        white-space: nowrap;
        font-weight: 500;
      }
    }
  }
}