.navbar {
  &-menu {
    &.el-menu {
      &--horizontal {
        .el-submenu {
          float: none;
          @media (max-width: 575px) {
            flex-basis: 100%;
          }
          &__title {
            float: none;
            height: 72px;
            line-height: 20px;
            padding: 10px 8px;
            display: flex;
            align-items: center;
            font-feature-settings: 'pnum' on, 'lnum' on;
            font-style: normal;
            font-weight: normal;
            font-size: 14px;
            color: $grey-600;
            border-bottom: none;
            box-shadow: inset 0px -2px 0px transparent;
            transition: all 350ms;
            @media (max-width: 575px) {
              height: auto;
              justify-content: center;
            }
            .v-icon {
              transition: transform 350ms;
              svg {
                width: 17px;
                height: 16px;
                g, path {
                  transition: fill 350ms;
                  fill: $grey-500;
                }
              }
            }
            &:hover {
              background-color: transparent;
              color: $primary;
              .v-icon svg g, .v-icon svg path {
                fill: $primary;
              }
            }
          }
          &__icon-arrow {
            display: none;
          }
          &.is-opened {
            .el-submenu__title {
              .v-icon {
                transform: rotateZ(180deg) translateY(-2px);
              }
            }
          }
          &.active {
            .el-submenu__title {
              color: $primary;
              @media (min-width: 576px) {
                box-shadow: inset 0px -2px 0px #3366FF;
              }
              .v-icon svg g, .v-icon svg path {
                fill: $primary;
              }
            }
          }
        }
      }
    }
  }
  &-sublist {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    @media (max-width: 991px) {
      flex-basis: calc(100% / 5);
    }
    @media (max-width: 575px) {
      flex-basis: 100%;
      &:not(:last-child) {
        margin-bottom: 16px;
      }
    }
    &__header {
      font-style: normal;
      font-weight: 500;
      font-size: 14px;
      line-height: 20px;
      font-feature-settings: 'pnum' on, 'lnum' on;
      color: $grey-600;
      @media (max-width: 575px) {
        text-align: center;
        width: 100%;
      }
    }
    &__inner {
      list-style-type: none;
      padding-left: 0;
      margin-bottom: 0;
      display: flex;
      flex-wrap: wrap;
      flex-direction: row;
      align-items: flex-start;
      justify-content: flex-start;
      margin-top: 8px;
      @media (max-width: 575px) {
        width: 100%;
      }
      li {
        @media (max-width: 991px) {
          flex-basis: 100%;
          &:not(:last-child) {
            margin-bottom: 4px;
          }
        }
        display: flex;
        align-items: center;
        @media (min-width: 992px) {
          &:not(:last-child)::after {
            content: '•';
            display: block;
            margin: 0 4px;
          }
        }
        @media (max-width: 575px) {
          justify-content: center;
        }
        a {
          display: block;
          font-style: normal;
          font-weight: normal;
          font-size: 14px;
          line-height: 20px;
          color: $grey-500;
          font-feature-settings: 'pnum' on, 'lnum' on;
          transition: color 350ms;
          &:hover {
            color: $primary;
          }
          @media (max-width: 575px) {
            text-align: center;
          }
        }
      }
    }
  }
  &-submenu {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;

    @media (max-width: 991px) and (min-width: 576px) {
      &:first-child {
        padding-top: 40px;
      }
      &:last-child {
        padding-top: 24px;
        padding-bottom: 40px;
      }
    }

    @media (max-width: 575px) {
      &:first-child {
        padding-top: 24px;
      }
      &:last-child {
        padding-top: 16px;
        padding-bottom: 24px;
      }
    }

    @media (max-width: 991px) and (min-width: 768px) {
      &:first-child {
        .navbar-sublist:nth-child(4) {
          flex-basis: 80px;
        }
      }
    }

    @media (min-width: 992px) {
      &:first-child {
        padding-top: 40px;
        .navbar-sublist {
          &:nth-child(1), &:nth-child(2) {
            .navbar-sublist__inner {
              li:nth-last-child(1), li:nth-last-child(2) {
                margin-top: 4px;
              }
            }
          }
          &:nth-child(3) {
            li:nth-last-child(1), li:nth-last-child(2), li:nth-last-child(3) {
              margin-top: 4px;
            }
          }
          &:nth-child(5) {
            li:nth-last-child(1) {
              margin-top: 4px;
            }
          }
          &:nth-child(1), &:nth-child(3), &:nth-child(4), &:nth-child(5) {
            flex-basis: 180px;
            li:nth-child(2)::after {
              content: initial;
            }
          }
          &:nth-child(2) {
            flex-basis: 384px;
            li:nth-child(4)::after {
              content: initial;
            }
          }
        }
      }
      &:last-child {
        padding-top: 24px;
        padding-bottom: 54px;
        .navbar-sublist {
          &:nth-child(1), &:nth-child(2), &:nth-child(3), &:nth-child(4) {
            flex-basis: 180px;
          }
          &:nth-child(1) .navbar-sublist__inner li:nth-child(3),
          &:nth-child(2) .navbar-sublist__inner li:nth-child(4),
          &:nth-child(3) .navbar-sublist__inner li:nth-child(3),
          &:nth-child(4) .navbar-sublist__inner li:nth-child(3),
          &:nth-child(4) .navbar-sublist__inner li:nth-child(4),

          &:nth-child(5) .navbar-sublist__inner li:nth-child(5),
          &:nth-child(5) .navbar-sublist__inner li:nth-child(6),
          &:nth-child(5) .navbar-sublist__inner li:nth-child(7),
          &:nth-child(5) .navbar-sublist__inner li:nth-child(8),
          &:nth-child(5) .navbar-sublist__inner li:nth-child(9){
            margin-top: 4px;
          }
          &:nth-child(1) .navbar-sublist__inner li:nth-child(2):after,
          &:nth-child(2) .navbar-sublist__inner li:nth-child(3):after,
          &:nth-child(3) .navbar-sublist__inner li:nth-child(2):after,
          &:nth-child(4) .navbar-sublist__inner li:nth-child(2):after,
          &:nth-child(5) .navbar-sublist__inner li:nth-child(4):after{
            content: initial;
          }
          &:nth-child(5) {
            flex-basis: 384px;
          }
        }
      }
    }

    &-popper {
      width: 100%;
      top: 72px !important;
      left: 0 !important;
      @media (max-width: 991px) {
        top: 166px !important;
        background-color: #ffffff;
      }
      @media (max-width: 767px) {
        top: 206px !important;
      }
      @media (max-width: 575px) {
        top: 314px !important;
      }
      &--to_login {
        @media (max-width: 991px) {
          top: 145px !important;
        }
        @media (max-width: 767px) {
          top: 185px !important;
        }
        @media (max-width: 575px) {
          top: 254px !important;
        }
      }
      .el-menu {
        @media (max-width: 991px) and (min-width: 768px) {
          max-width: 768px;
        }
        @media (max-width: 767px) and (min-width: 576px) {
          max-width: 576px;
        }
        @media (max-width: 575px) and (min-width: 0px) {
          max-width: 100%;
        }
        @media (max-width: 991px) {
          margin-left: auto;
          margin-right: auto;
        }
        &--popup {
          &-bottom-start {
            margin-top: 0;
          }
          box-shadow: none;
          @media (max-width: 575px) {
            padding-top: 0;
            padding-left: 20px;
            padding-right: 20px;
          }
        }
      }
    }
  }

  &-actions {
    &__popover {
      &-button {
        &-inner {
          border: 0;
          background-color: transparent;
          padding: 0;
          margin: 0;
          outline: none;
          width: 40px;
          height: 40px;
          display: flex;
          align-items: center;
          justify-content: center;
          cursor: pointer;
          transition: background-color 350ms;
          .v-icon {
            width: 24px;
            height: 24px;
            svg {
              width: 24px;
              height: 24px;
              g, path {
                transition: fill 350ms;
                fill: $grey-500;
              }
            }
          }
          &:hover {
            background-color: $grey-200;
            .v-icon svg g, .v-icon svg path {
              fill: $primary;
            }
          }
        }
        &:not(&:last-child) {
          margin-right: 8px;
        }
      }
      &--alert {
        @media (max-width: 575px) {
          width: 200px !important;
        }
      }
    }
    &--logged {
      .navbar-actions {
        &__inner {
          display: flex;
          align-items: center;
          margin-right: 8px;
          @media (max-width: 575px) {
            flex-basis: 50%;
            margin-right: 0;
          }
        }
        &__button {
          border: 0;
          background-color: transparent;
          padding: 0;
          margin: 0;
          outline: none;
          width: 40px;
          height: 40px;
          display: flex;
          align-items: center;
          justify-content: center;
          cursor: pointer;
          transition: background-color 350ms;
          &:not(&:last-child) {
            margin-right: 8px;
          }
          .v-icon {
            width: 24px;
            height: 24px;
            svg {
              width: 24px;
              height: 24px;
              g, path {
                transition: fill 350ms;
                fill: $grey-500;
              }
            }
          }
          &:hover {
            background-color: $grey-200;
            .v-icon svg g, .v-icon svg path {
              fill: $primary;
            }
          }
        }
      }
    }
  }

  &-balance {
    padding: 8px 12px;
    cursor: pointer;
    transition: background-color 350ms;
    span.v-icon {
      margin-right: 8px;
      width: 24px;
      height: 24px;
      svg {
        width: 24px;
        height: 24px;
        g, path {
          transition: fill 350ms;
          fill: $grey-500;
        }
      }
    }
    &:hover {
      .v-icon svg g, .v-icon svg path {
        fill: $primary;
      }
    }
  }
  &-user {
    &-list {
      margin-top: 16px;
      width: 100%;
      padding-left: 0;
      margin-bottom: 0;
      list-style-type: none;
      @media (max-width: 575px) {
        box-shadow: 0 6px 11px rgba(23, 29, 53, 0.08);
      }
    }
    &-item {
      width: 100%;
      &:last-child {
        .navbar-user-link {
          .v-icon svg g, .v-icon svg path {
            fill: $error;
          }
        }
      }
    }
    &-link {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      margin: 0;
      border: 0;
      outline: none;
      background-color: $white;
      padding: 16px;
      white-space: nowrap;
      cursor: pointer;
      font-style: normal;
      font-weight: 500;
      font-size: 14px;
      line-height: 20px;
      text-align: center;
      font-feature-settings: 'pnum' on, 'lnum' on;
      color: $grey-500;
      transition: color, background-color 350ms;
      .v-icon {
        width: 16px;
        height: 16px;
        margin-right: 12px;
        svg {
          width: 16px;
          height: 16px;
          g, path {
            transition: fill 350ms;
            fill: $grey;
          }
        }
      }
      &:hover {
        background-color: $grey-200;
        color: $primary;
        svg g, svg path {
          fill: $primary;
        }
      }
    }
  }
  &-alert {
    &-list {
      background-color: $white;
      padding-left: 0;
      margin-bottom: 0;
      margin-top: 16px;
      border-radius: 4px;
      overflow: hidden;
      box-shadow: 0 6px 11px rgba(23, 29, 53, 0.08);
      outline: none !important;
      @media (max-width: 575px) {
        max-width: 200px;
      }
    }
    &-item {
      display: flex;
      align-items: flex-start;
      justify-content: flex-start;
      padding: 16px;
      &:not(:last-child) {
        border-bottom: 1px solid $grey-200;
      }
      @media (max-width: 575px) {
        padding: 8px;
      }
    }
    &-content {
      @include only-width (calc(100% - 36px - 12px));
      @media (max-width: 575px) {
        @include only-width (calc(100% - 20px - 8px));
      }
    }
    &-title {
      font-style: normal;
      font-weight: 600;
      font-size: 14px;
      line-height: 20px;
      font-feature-settings: 'pnum' on, 'lnum' on;
      color: $grey-500;
      word-break: break-word;
      span {
        color: $primary;
      }
      @media (max-width: 575px) {
        font-size: 12px;
        line-height: 140%;
      }
    }
    &-text {
      color: $grey-500;
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 20px;
      word-break: break-word;
      font-feature-settings: 'pnum' on, 'lnum' on;
      @media (max-width: 575px) {
        font-size: 12px;
        line-height: 120%;
        padding-top: 2px;
      }
    }
    &-action {
      display: block;
      width: 100%;
      word-break: break-word;
      margin-top: 8px;
      font-style: normal;
      font-weight: 500;
      font-size: 14px;
      line-height: 20px;
      font-feature-settings: 'pnum' on, 'lnum' on;
      text-decoration: none;
      color: $primary;
      @media (max-width: 575px) {
        font-size: 12px;
        line-height: 120%;
        margin-top: 6px;
      }
    }
    &-date {
      margin-top: 12px;
      font-family: 'Open Sans', sans-serif;
      font-style: normal;
      font-weight: 600;
      font-size: 12px;
      line-height: 20px;
      font-feature-settings: 'pnum' on, 'lnum' on;
      color: $grey;
      @media (max-width: 575px) {
        font-size: 10px;
        line-height: 120%;
        margin-top: 6px;
      }
    }
    &-icon {
      @include only-width (36px);
      @include only-height (36px);
      background-color: $grey-200;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-right: 12px;
      @media (max-width: 575px) {
        @include only-width (20px);
        @include only-height (20px);
        margin-right: 8px;
      }
      .v-icon {
        width: 24px;
        height: 24px;
        svg {
          width: 24px;
          height: 24px;
        }
        @media (max-width: 575px) {
          width: 14px;
          height: 14px;

          svg {
            width: 14px;
            height: 14px;
          }
        }
      }
      &--done_all {
        svg g, svg path {
          fill: $success;
        }
      }
      &--warning {
        svg g, svg path {
          fill: $warning;
        }
      }
      &--buy {
        svg g, svg path {
          fill: $grey-500;
        }
      }
    }
  }
  &-actions__popover {
    outline: none !important;
  }
  &-toggler {
    .v-icon {
      width: 24px;
      height: 24px;
      svg {
        width: 24px;
        height: 24px;
        g, path {
          transition: fill 350ms;
          fill: $grey-500;
        }
      }
    }
    &:hover {
      .v-icon svg g, .v-icon svg path {
        fill: $primary;
      }
    }
  }
}

.popover-buttons {
  padding-left: 0;
  margin-bottom: 0;
  margin-top: 16px;
  list-style-type: none;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  width: 100%;
  @media (max-width: 575px) {
    box-shadow: 0 6px 11px rgba(23, 29, 53, 0.08);
  }
  &__item {
    width: 100%;
  }
  &__button {
    width: 100%;
    border: 0;
    outline: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    background-color: $white;
    padding: 16px;
    white-space: nowrap;
    cursor: pointer;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    font-feature-settings: 'pnum' on, 'lnum' on;
    color: $grey-500;
    transition: color, background-color 350ms;
    .v-icon {
      width: 16px;
      height: 16px;
      margin-right: 12px;
      svg {
        width: 16px;
        height: 16px;
        g, path {
          transition: fill 350ms;
          fill: $grey;
        }
      }
    }
    &:hover {
      background-color: $grey-200;
      color: $primary;
      svg g, svg path {
        fill: $primary;
      }
    }
  }
}